<!DOCTYPE html>
/* Jarett Dewbury's Website CSS */
/*------------------------------*/

/* -------Colours----------*/

.purple {
  color: #A98FC3;
}
.lightpurple {
  color: #DACDE8;
}

.darkpurple {
  color: #5A496B;
}

.white {
  color: #FFF;
}

/*-----------------------------*/

/* -------Navigation Bar----------*/
html, body{
  font-family: Alata;
	background-image : url('../img/background1.png');
  background-color: #5A496B;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: #FFF;
  font-size: 25px;
  text-align: left;
  transition: 1s;
}

  .financial-health {
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   }

.topnav {
  overflow: hidden;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  z-index:100;
}

.logo {
  margin-top: 5px;
  margin-left: 30px;
  height: 165px;
  float: left;
  text-decoration: none;
  text-align: center;
  padding: 11px 50px;
  transition: 1s;
}

.logo:hover {
  filter: brightness(500%);
  -webkit-filter: brightness(500%);
  -moz-filter: brightness(500%);
  -o-filter: brightness(500%);
  -ms-filter: brightness(500%);
  -webkit-transition: all 2s;
  transition: all 2s;
}



/*-----------------------------*/

/*-------Intro section----------*/

.section1 {
	background-image : url('../img/prospectus-cover.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding-bottom: 3rem;
  min-height: 100vh;
  overflow-y: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  height: 100%;
  overflow-x: hidden;
}

h4 {
  margin-top: 270px;
  text-align: center;
  font-weight: lighter;
  font-size: 35px;
  padding-left: 180px;
  padding-right: 180px;
}

b {
  background-color: #A98FC3;
  padding-top: 0px;
  padding-bottom: 5px;
}

.getstarted {
  background-color: #A98FC3;
  border-radius: 20px;
  color: #FFF;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 650px;
  transition: 1s;
}

.next {
  background-color: #A98FC3;
  border-radius: 20px;
  color: #FFF;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 700px;
  transition: 1s;
}

.stonks {
  background-color: #A98FC3;
  border-radius: 20px;
  color: #FFF;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 650px;
  transition: 1s;
}

.stonks1 {
  background-color: #A98FC3;
  border-radius: 20px;
  color: #FFF;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 630px;
  transition: 1s;
}

.getstarted:hover {
  color: #A98FC3;
  background-color: #FFF;
}

.next:hover {
  color: #A98FC3;
  background-color: #FFF;
}

.stonks:hover {
  color: #A98FC3;
  background-color: #FFF;
}

.stonks1:hover {
  color: #A98FC3;
  background-color: #FFF;
}

h5 {
  font-size: 18px;
  color: #DACDE8;
  margin-left: 470px;
}

c {
  margin-top: 5px;
  font-size: 20px;
}


/* -------Home Section----------*/

.sectiontitle{
  margin-left: 20px;
  color: #59646d;
  font-size: 2vw;
}

.section2 {
	background-image : url('../img/background1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding-bottom: 3rem;
  min-height: 100vh;
  overflow-y: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  color: #FFF;
  font-size: 80px;
  line-height: 100%;
  margin: 10px;
  margin-top: 150px;
  transition: 0.2s;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  margin-top: 20px;
  font-size: 35px;
  margin-right: 700px;
  text-align: center;
  padding-bottom: 15px;
}

::placeholder {
  color: #DACDE8;
  font-style: italic;
  font-weight: lighter;
}

label {
  margin-top: 10px;
  text-align: left;
  margin-left: 250px;
  font-size: 25px;
  box-shadow: none;
  font-weight: none;
  position: fixed;
}

input {
  margin-top: 10px;
  text-align: left;
  background-color: #A98FC3;
  width: 600px;
  height: 35px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  text-indent: 20px;
  color: #5A496B;
  font-weight: bolder;
  box-shadow: none;
  margin-left: 500px;
}

/* remove border when active */
input:focus {
	outline: none;
}

.submit {
  background-color: #A98FC3;
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 25px;
  color: #FFF;
  font-weight: bolder;
  margin-left: 675px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: lighter;
  transition: 0.5s;
}

.submit:hover {
  background-color: #FFF;
  color: #A98FC3;
}

.signin {
  font-size: 15px;
  color: #FFF;
  margin-left: 630px;
}

.signin:hover {
  color: #DACDE8;
}
/*-----------------------------*/

/*-------Authenticated Section ----*/
.mainnav {
  overflow: hidden;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  z-index:100;
}

.mainnav a {
  display: block;
  text-align: center;
  padding-top: 80px;
  padding-right: 15px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 15px;
  position: relative;
  float:left;
  transition: 0.5s;
  color:#A98FC3
}

.mainnav a:hover {
  color: white;
}

/*effect-underline*/
.mainnav a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  margin-left:10%;
  width: 80%;
  border-bottom: 3px solid #cbbeff;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.mainnav a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.mainnav ol {
  position: relative;
  display: inline;
  align-items: flex-end;
}

.addspace {
  width: 470px
}

.mainnav .icon {
  font-size: 25px;
  margin-right: 75px;
  margin-top: 10px;
  display: none;
  color: #333;
}

@media screen and (max-width: 1310px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    transition: none;
  }
}

@media screen and (max-width: 1310px) {
  .topnav a {display: none;}
}

@media screen and (max-width: 1310px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    margin-right: 85px;
    margin-top: 25px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
  }
  .mainnav .logo {
    margin-left: 8%;
    float: none;
    text-align: left;
    padding-right: 10px;
  }
  .mainnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    position: relative;
    display: block;
    text-decoration: none;
    z-index:1;
    padding-bottom: 20px;
    font-size: 17px;
    margin-top: -30px;
  }
  .mainnav a.effect-underline:after{
    border-bottom: none;
  }
  
}

.logoAuth {
  margin-left: 30px;
  height: 100px;
  float: left;
  text-decoration: none;
  text-align: center;
  padding: 11px 10px;
  transition: 1s;
}

.logoAuth:hover {
  filter: brightness(500%);
  -webkit-filter: brightness(500%);
  -moz-filter: brightness(500%);
  -o-filter: brightness(500%);
  -ms-filter: brightness(500%);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.contact{
  padding-top: 170px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.profile {
  margin-top: 10px;
  text-align: left;
  background-color: #A98FC3;
  width: 600px;
  height: 35px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  text-indent: 20px;
  color: #5A496B;
  font-weight: bolder;
  box-shadow: none;
  margin-left: 500px;
}

/* remove border when active */
profile:focus {
	outline: none;
}

.mylogo {
  margin-top: -75px;
  margin-left: 30px;
  height: 165px;
  float: left;
  text-decoration: none;
  text-align: center;
  padding: 11px 50px;
  transition: 1s;
}

h7 {
  margin-top: 20px;
  font-size: 18px;
  margin-left: 580px;
  color: #cbbeff;
  font-style: italic;
}

.mylogo:hover {
  filter: brightness(500%);
  -webkit-filter: brightness(500%);
  -moz-filter: brightness(500%);
  -o-filter: brightness(500%);
  -ms-filter: brightness(500%);
  -webkit-transition: all 2s;
  transition: all 2s;
}
